.badge {
  text-align: center;
}

.outer {
  display: inline-block;
  background-color: #000;
  background-image: -webkit-linear-gradient(135deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.1) 50% 50%);
  background-image: linear-gradient(135deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.1) 50%);
  border-radius: 50%;
  font-family: 'Play', sans-serif;
}

.inner {
  width: 200px;
  height: 200px;
  background-color: #333;
  background-image: -webkit-linear-gradient(15deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.2) 50% 50%);
  background-image: linear-gradient(15deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.2) 50%);
  border: 10px solid #fff;
  text-align: center;
  line-height: 1.25;
  color: #fff;
  margin: 10px;
  border-radius: 50%;
}

#points {
  margin-top: 10%;
  font-size: 120%;
}

#challenges {
  margin-top: 10%;
}

#user {
  font-size: 200%;
  margin-top: 5%;
  font-family: 'Permanent Marker', cursive;
/*   text-transform: uppercase; */
}

.small {
  font-size: 75%;
}

#completed {
  margin-top: 10px;
}

/* Small badges */

.badge-small {
  font-size: 75%;
}

.badge-small .inner {
  height: 150px;
  width: 150px;
  margin: 5px;
}

/* Loading */

#loader {
  width: 100%;
  height: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.2;
  -webkit-animation: sk-bounce 4.0s infinite ease-in-out;
  animation: sk-bounce 4.0s infinite ease-in-out;
}

#loading-text {
  position: relative;
  top: -110px;
  z-index: 5;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Custom colors */

#fcc .outer, #fcc .inner {
  background-color: #006400;
}

#fcc .inner {
  background-image: url("../img/badges/icon_fcc.png"), linear-gradient(135deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.1) 50%);
  background-repeat: repeat;
}