.code-badge {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.code-badge .outer {
  display: inline-block;
  background-color: #333;
  background-image: -webkit-linear-gradient(135deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.1) 50% 50%);
  background-image: linear-gradient(135deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.1) 50%);
  border-radius: 50%;
  border: 4px solid #fff;
  font-family: 'Play', sans-serif;
}

.code-badge .inner {
  width: 200px;
  height: 200px;
  background-color: #333;
  background-image: -webkit-linear-gradient(135deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.1) 50% 50%);
  background-image: linear-gradient(135deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.1) 50%);
  background-repeat: repeat;
  border: 5px double #fff;
  text-align: center;
  line-height: 1.25;
  color: #fff;
  margin: 5px;
  border-radius: 50%;
}

.code-badge .inner .margin-top {
  margin-top: 9%;
}

.code-badge .inner #user {
  font-size: 200%;
  margin-top: 5%;
  font-family: 'Permanent Marker', cursive;
/*   text-transform: uppercase; */
}

.code-badge .inner .big {
  font-size: 120%;
}

.code-badge .inner .small {
  font-size: 75%;
}

/* Small badges */

.badge-small {
  font-size: 75%;
}

.badge-small .inner {
  height: 150px;
  width: 150px;
}

/* Loading */

#loader {
  width: 100%;
  height: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.2;
  -webkit-animation: sk-bounce 4.0s infinite ease-in-out;
  animation: sk-bounce 4.0s infinite ease-in-out;
}

#loading-text {
  position: relative;
  top: -110px;
  z-index: 5;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/**************** Custom colors ****************/

/* Codecademy */

.code-badge.codecademy .outer, .code-badge.codecademy .inner {
  background-color: #34495E;
}

.code-badge.codecademy .inner {
  background-image: url("../img/badges/icon_codecademy.png"), linear-gradient(135deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.1) 50%);
}

/* CodeSchool */

.code-badge.codeschool .outer, .code-badge.codeschool .inner {
  background-color: #1E8BC3;
}

.code-badge.codeschool .inner {
  background-image: url("../img/badges/icon_codeschool.png"), linear-gradient(135deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.1) 50%);
}

/* FreeCodeCamp */

.code-badge.fcc .outer, .code-badge.fcc .inner {
  background-color: #006400;
}

.code-badge.fcc .inner {
  background-image: url("../img/badges/icon_fcc.png"), linear-gradient(135deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.1) 50%);
}

/* GitHub */

.code-badge.gh .inner {
  background-image: url("../img/badges/icon_gh.png"), linear-gradient(135deg, rgba(0,0,0, 0) 50%, rgba(0,0,0, 0.1) 50%);
}