/*example pink badges*/
.code-badge.pink-badge .outer {
  background-color: #DB0A5B;
}

/*STYLES FOR INDEX DEMO PAGE*/

#cb-logo {
    width: 100px;
    height: 100px;
}

#share {
    padding: 30px;
    margin-top: 30px;
}

#footer {
    margin-top: 30px;
    margin-bottom: 0px;
}